<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.aluxian.codementor"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a081a015f6791b96d6a06893f2ea46976b54f14c" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a081a015f6791b96d6a06893f2ea46976b54f14c" />

    </application>

</manifest>
